#add for board init.rc for recovery mode
import /init.recovery.common.rc

on boot
    start boot-hal-1-0
    start health-hal-2-1
    insmod /lib/modules/sc27xx_tsensor_thermal.ko
    insmod /lib/modules/thermal-generic-adc.ko